## Project Proposal: US Citizens

### Introduction

TEST FOR CHANGES

For our project, we have decided on a fairly straightforward topic. With given information about a person, we want to predict whether their income is greater than or equal to $50,000. This information may include their education, age, occupation, etc.

We will be using the **Adult** dataset taken from https://archive.ics.uci.edu/dataset/2/adult, which is based on a census done in 1994. There are 32560 rows in the data with each observation representing a single person and their various attributes. There are 15 columns each representing a different part of the person. The columns are:
 - age
 - workclass: self-employed, private, etc.
 - fnlwgt: final weight
 - education: the highest level of education achieved
 - education-num: the highest level of education achieved (numerical)
 - marital-status: married, single, etc.
 - occupation: general type of occupation (sales, services, etc.)
 - relationship: wife, husband, own-child, etc.
 - race: White, Black, Asian, etc.
 - sex: biological sex (Male, Female)
 - capital-gain: 
 - capital-loss
 - hours-per-week: hours at work each week
 - native-country: country of origin
 - income: <=50k, >50k

### Preliminary Data Analysis

In [1]:
# Loading libraries
library(tidyverse)
library(repr)
library(tidymodels)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [13]:
# Reading downloaded csv file
adult <- read_csv("data/adult.csv")

# Adding column names
colnames(adult) <- c('age', 'workclass', 'fnlwgt', 'education', 'education-num', 
                     'marital-status', 'occupation', 'relationship', 'race', 'sex',
                    'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income')

slice(adult, 1:6)

Rows: 32560 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): State-gov, Bachelors, Never-married, Adm-clerical, Not-in-family, W...
dbl (6): 39, 77516, 13, 2174, 0, 40

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age workclass        fnlwgt education education-num marital-status
1 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
2 38  Private          215646 HS-grad    9            Divorced
3 53  Private          234721 11th       7            Married-civ-spouse
4 28  Private          338409 Bachelors 13            Married-civ-spouse
5 37  Private          284582 Masters   14            Married-civ-spouse
6 49  Private          160187 9th        5            Married-spouse-absent
  occupation        relationship  race  sex    capital-gain capital-loss
1 Exec-managerial   Husband       White Male   0            0
2 Handlers-cleaners Not-in-family White Male   0            0
3 Handlers-cleaners Husband       Black Male   0            0
4 Prof-specialty    Wife          Black Female 0            0
5 Exec-managerial   Wife          White Female 0            0
6 Other-service     Not-in-family Black Female 0            0
  hours-per-week native-country income
1 13             United-States  <=50K
2 40             United-States  <=50K
3 40             United-States  <=50K
4 40             Cuba           <=50K
5 40             United-States  <=50K
6 16             Jamaica        <=50K